<div class="app-content container">
    {{#if message}}
        <h1 class="title-category">SOLICITUD ENVIADA</h1>
        <div class="message-session">
            <p class="mb-sm-3 mb-0">{{message}}</p>
        </div>
        <div class="btn-login-signup-container">
            <button type="button" class="btn-login-signup" onclick="window.location.href = '/login'">Volver a iniciar sesión</button>
        </div>
    {{else}}
        <h1 class="title-category">RESTABLECER CONTRASEÑA</h1>
        {{#if error}}
            <div class="error-session">
                <p class="mb-sm-3 mb-0">{{error}}</p>
            </div>
        {{/if}}
        <div class="form-container">
            <form method="post" action="/api/sessions/forgot-password">
                <div class="mb-lg-3 mb-0">
                    <label for="email" class="form-label">Ingresá el email de tu cuenta</label>
                    <input type="email" name="email" placeholder="nombre@example.com" id="email" class="form-control">
                </div>
                <div class="btn-login-container">
                    <button type="submit" class="btn-login">Enviar solicitud a mi email</button>
                </div>
            </form>
        </div>
        <div class="btn-login-signup-container">
            <button type="button" class="btn-login-signup" onclick="window.location.href = '/login'">Volver a iniciar sesión</button>
        </div>
    {{/if}}
</div>