<div class="app-content container">
    <h2 class="title-category">AGREGAR PRODUCTOS</h2>
    <!-- Formulario para agregar productos -->
    <div class="form-add-product-container">
        <form id="addProductForm" enctype="multipart/form-data" class="row mb-5">
            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" name="title" placeholder="Título" id="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción (Separar los ingredientes con comas ",")</label>
                    <input type="text" name="description" placeholder="Ingredientes" id="description" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Código</label>
                    <input type="string" name="code" placeholder="Código" id="code" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" name="price" placeholder="Precio" id="price" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" name="stock" placeholder="Stock" id="stock" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoría</label>
                    <select name="category" class="form-select" id="category">
                        <option value="vegano">vegano</option>
                        <option value="vegetariano">vegetariano</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="thumbnail" class="form-label">Imagen (NO FUNCIONA)</label>
                    <input type="file" name="thumbnail" id="thumbnail" class="form-control">
                </div>
                <div class="pt-md-4 pt-0 btn-add-product-container">
                    <button type="submit" class="btn-add-product">Agregar</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Productos -->
    <div id="cardProductsContainer"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/realTimeProducts.js"></script>