<div class="app-content container">
    <h1 class="title-category">NUEVA CONTRASEÑA</h1>
    {{#if message}}
        <div class="error-session">
            <p class="mb-sm-3 mb-0">{{message}}</p>
        </div>
        <div class="btn-login-signup-container">
            <button type="button" class="btn-login-signup" onclick="window.location.href = '/forgot-password'">Generar un nuevo link</button>
        </div>
    {{else}}
        {{#if error}}
            <div class="error-session">
                <p class="mb-sm-3 mb-0">{{error}}</p>
            </div>
        {{/if}}
        <div class="form-container">
            <form method="post" action="/api/sessions/reset-password?token={{token}}">
                <div class="mb-lg-3 mb-0">
                    <label for="password" class="form-label">Ingresá tu nueva contraseña</label>
                    <input type="password" name="newPassword" placeholder="nuevacontraseña123" id="password" class="form-control">
                </div>
                <div class="btn-login-container">
                    <button type="submit" class="btn-login">Cambiar contraseña</button>
                </div>
            </form>
        </div>
    {{/if}}
</div>