<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto backend</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/realTimeProducts">Productos en tiempo real</a></li>
        </ul>
    </nav>
    {{{body}}}
    <footer>Footer</footer>
</body>
</html>